@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes floatGlow {
  0% {
    transform: translateX(-50%) translateY(0px);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}

.animate-floatGlow {
  animation: floatGlow 6s ease-in-out infinite;
}